<div align="center">
    <h1>Pied Piper</h1>
    
    <br/>
    <br/>
    <br/>

  <mat-card class="example-card">
      <form class="example-form">

          <mat-label id="label1">Login</mat-label>
              
              <mat-form-field class="input-full-width">
                <input matInput placeholder="User Id/ Email" value="">
              </mat-form-field>
            
              <mat-form-field class="input-full-width">
                <input matInput type="password" placeholder="Password">
              </mat-form-field>
              
              <button mat-flat-button color="primary" [routerLink]="['/login']">Login</button>
  
      </form>
      
      <br/>
      <button mat-flat-button color="primary" [routerLink]="['/register']">Register</button>
  
  </mat-card>

    <br/>
    <br/>
    <br/> <br/>
    <br/>
    <br/> <br/>
    <br/>
    <br/> <br/>
    <br/>
    <br/> <br/>
    <br/>
    <br/> <br/>
    <br/>
    <br/>

</div>

