h1 {
    color: darkseagreen;
}
#label1 {
    font-size: 30px;
    color: darkblue;
}

.example-card {
    max-width: 800px;
  }

.example-form {
    min-width: 250px;
    max-width: 800px;
    width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }

  div {
    background-image: url('https://wallportal.com/uploads/posts/arizona-state-university-wallpaper/arizona_state_university_wallpaper_008.jpg')
  }
  