<div align="center">
        <h1>Pied Piper</h1>
        
        <br/>
        <br/>
        <br/>
    
      <mat-card class="example-card">
        <mat-label id="label1">Registration</mat-label>

          <form class="example-form">
    
                  <mat-form-field class="input-full-width">
                    <input matInput placeholder="First Name" value="">
                  </mat-form-field>

                  <mat-form-field class="input-full-width">
                      <input matInput placeholder="Middle Name" value="">
                  </mat-form-field>

                  <mat-form-field class="input-full-width">
                      <input matInput placeholder="Last Name" value="">
                  </mat-form-field>
                  
                  <mat-form-field class="input-full-width">
                      <input matInput placeholder="Phone Number" value="">
                  </mat-form-field>

                  <mat-form-field class="input-full-width">
                      <input matInput placeholder="Email Id" type="email" value="">
                  </mat-form-field>



                  <mat-form-field class="input-full-width">
                    <input matInput type="password" placeholder="Password">
                  </mat-form-field>

                  <mat-form-field class="input-full-width">
                        <input matInput placeholder="" value="">
                    </mat-form-field>
                    
                      <mat-form-field class="input-full-width">
                        <input matInput type="password" placeholder="Password">
                      </mat-form-field>
                  
                  <button mat-flat-button color="primary">Login</button>
      
          </form>
          
          <br/>
          <button mat-flat-button color="primary" [routerLink]="['/register']">Register</button>
      
      </mat-card>
    
        <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/>
    
</div>
    
    