<div align="center">
        <h1>Pied Piper</h1>
        
        <br/>
        <br/>
        <br/>
    
      <mat-card class="example-card">
        <mat-label id="label1">Registration</mat-label>
            
          <form class="example-form">
                  <br/>
                  <br/>
                  <mat-form-field class="input-full-width">
                    <input matInput placeholder="First Name" value="">
                  </mat-form-field>
                  
                  <mat-form-field class="input-full-width">
                      <input matInput placeholder="Middle Name" value="">
                  </mat-form-field>

                  <mat-form-field class="input-full-width">
                      <input matInput placeholder="Last Name" value="">
                  </mat-form-field>

                  <br/>
                  
                  <mat-form-field class="input-full-width">
                      <input matInput placeholder="Phone Number" value="">
                  </mat-form-field>
                  <br/>

                  <mat-form-field class="input-full-width">
                      <input matInput placeholder="Email Id" type="email" value="">
                  </mat-form-field>
                  <br/>

                  <mat-form-field class="input-full-width">
                    <input matInput type="password" placeholder="Password">
                  </mat-form-field>
                  
                  <br/>
                  Gender:
                  <mat-radio-group>
                    <mat-radio-button value="1">Male</mat-radio-button>
                    <mat-radio-button value="2">Female</mat-radio-button>
                  </mat-radio-group>
                  
                  <br/>
                  Date of Birth:
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  
      
          </form>
          
          <br/>
          <button mat-flat-button color="primary" [routerLink]="['/register']">Register</button>
      
      </mat-card>
    
        <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/> <br/>
        <br/>
        <br/>
    
</div>
